<a href="https://twitter.com/intent/tweet?button_hashtag=twoweektedtalk&text=Watch%20me%20create%20something%20%40TED%20worthy%20in%20two%20weeks!" class="twitter-hashtag-button" data-related="twoweektedtalk" data-url="http://twoweektedtalk.com">Tweet #twoweektedtalk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
