<div class="text-">

<h1 class="text-center">
<%= image_tag 'twtt.png' %>
</h1>

<h2 title="Description">This is a challenge to create something "<a href="http://ted.com"><strong>TED worthy</strong></a>" in two week period.</h2>

<h3>Post a goal below and accomplish it in two weeks</h3>
<p>This is an opportunity for you to challenge something that you've been putting off. This is your chance to finally do that "thing" you've been thinking of. You can pick anything. Its completely up to you.</p>
<p>Anyone can post on the TWTT wall. By posting, you are sharing your idea with the world. You are making a commitment to make progress on your goal. At the end of two weeks, please come back and report how you succeeded/redetermined.</p>
<br>
<div class="panel callout" style="    border-top: .8em solid rgb(22, 157, 72);" >
  <div style='padding:1em 1.2em;'>
    <%= render 'plans/form' %>
  </div>
</div>
<h3>Join others</h3>
<p>This website lets you simply share your TWTT project. The moment you post your TWTT, you have two weeks. After your two weeks, you will get an email asking you to post a final report.</p>

<%= link_to 'See the other #twoweektedtalks', recent_path, :class=> 'no-butt button tiny' %>

<br><br>
<%= render 'shared/share' %>

</div>
